* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-size: 20px; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
    /* linear-gradient: 이미지에 명암을 줌 (default는 to bottom) */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/interface-3614766_1280.png);
    /* background-color: gray; */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    /* border: 1px solid white; */
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#navLinks {
    /* background-color: red; */
    /*  */
    flex: 1;
    text-align: right;
}

#navLinks ul li {
    list-style: none;
    /* li 하나의 행에 배치  */
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#navLinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

/* li 에 마우스 hover 시 아래 빨간선으로 표시 */
#navLinks ul li::after {
    content: '';
    /* 최초 width 0 으로 안보임, :hover 시 보이도록 처리  */
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

#navLinks ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}


/* header-text-box */
#header-text-box {
    border: 1px solid white;
    color: white;
    width: 90%;
    /* 가장 가까운 relative 부모는 <header> */
    position: absolute;
    /* absolute 이므로 좌측상단 기준 */
    left: 50%;
    top: 50%;
    /* translate(x,y) 왼쪽, 오른쪽 이동  */
    transform: translate(-50%, -50%);
    text-align: center;
}

#header-text-box h1 {
    font-size: 60px;
}




/* MAIN */
main {
    /* background-color: gray; */
    width: 100%;
    margin: auto;
    /* text-align: center; */
    /* padding-top: 100px; */

}

/* mainBlock1 */
#mainBlock1 {
    /* width: 100%; */
    /* background-color: antiquewhite; */
    /* background-color: rgb(239, 239, 245); */
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;

    display: flex;
    /* align-items: center; */
}

#mainBlock1 .imgBlock {
    max-width: 70%;
    /* border: 1px solid gray; */
}

#mainBlock1 .imgBlock img {
    max-width: 100%;
}

#mainBlock1 #mainBlock1Content {
    max-width: 30%;
}

#mainBlock1Content p {

}

#mainBlock1Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock1Content .techStack {
    margin-top: 20%;
}



/* mainBlock2 */
#mainBlock2 {
    background-color: rgb(239, 239, 245);
    display: flex;
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;
    position: relative;

    display: flex;
    align-items: center;
}

#mainBlock2 .imgBlock {
    max-width: 60%;
}

#mainBlock2 .imgBlock img {
    max-width: 70%;
}

#mainBlock2 #mainBlock2Content {
    max-width: 30%;
}

#mainBlock2 #mainBlock2Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock2 #mainBlock2Content .techStack {
    margin-top: 20%;
}


/* mainBlock3 */
#mainBlock3 {
    /* background-color: aquamarine; */
    padding: 6% 6%;
    min-height: 45vh;
    text-align: center;
}

#mainBlock3 .imgBlock {
    display: inline-block;
    text-align: center;
    /* background-color: #f44336; */
    max-width: 100%;
    margin-bottom: 1%;
}

#mainBlock3 .imgBlock img {
    max-width: 30%;
    padding: 0 2.5px;
}

#mainBlock3 #mainBlock3Content {
    /* max-width: 30%; */
    margin-top: 5%;
}

#mainBlock3 #mainBlock3Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock3 #mainBlock3Content .techStack {
    margin-top: 5%;
}

/* 
#mainBlock3 p {
    background-color:yellow;
    max-width: 100%;
    margin-top: 1%;
} */

