<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aboutme</title>
    <link rel="stylesheet" type="text/css" href="/static/css/aboutme.css" th:href="@{/css/aboutme.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a id="logo" href="/templates/index.html" th:href="@{/}">LSH</a>
            <div id="navLinks">
                <ul>
                    <li><a href="/templates/index.html" th:href="@{/}">Home</a></li>
                    <li><a href="/templates/portfolio.html" th:href="@{/portfolio}">Portfolio</a></li>
                    <li><a href="/templates/aboutme.html" th:href="@{/aboutme}">About me</a></li>
                    <li><a href="https://tose33.tistory.com/" target="_blank">Blog</a></li>
                    <li><a href="https://github.com/LSH3333" target="_blank">Git</a></li>
                    <li><a href="https://www.acmicpc.net/user/chadol51" target="_blank">PS</a></li>
                </ul>
            </div>
        </nav>
        <div id="header-text-box">
            <h1>Aboutme</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <div id="mainBlock1">
            <!-- <div class="imgBlock">
                <img src="headerImg.jpeg" alt="">
            </div> -->
            <div id="mainBlock1Content">
                <p id="title">About me...</p>
                <p>프로그래밍의 영역은 매우 방대하고 저는 항상 어느 쪽으로 방향을 정할지 고민이었습니다.</p>
                <p>가장 처음에는 <b>유니티 엔진</b>으로 게임을 만들어 봤습니다.</p>
                <p>여러 가지 싱글 게임을 만들어 보면서 어느 순간 점수 같은 데이터들을 저장하고 싶다는 생각이 들었고 데이터베이스 등의 정보를 찾아보다가 <b>baas (backend as
                        service)</b>
                    라는 서비스의
                    개념을 알게 되었고 baas 를 unity 게임에 적용해서 점수를 저장할 수 있도록 했고 만들었던 몇몇 게임들을 모아서 게임 개발자들이 자유롭게 게임을 업로드 할 수 있는
                    itch.io
                    라는 곳에 올려 놓았습니다. <a href="https://lsh-instaweb.herokuapp.com/game/list"
                        target="_blank">(https://lsh-instaweb.herokuapp.com/game/list)</a>
                </p>
                <br>
                <p>만든 게임 중 가장 기억에 남는 게임은 <b>갤러그</b>입니다.</p>
                <p>갤러그를 만들기로 생각한 건 곡선을 유니티에서 어떤 식으로 구현하는지 궁금했기 때문입니다.</p>
                <p>유니티는 가장 유명한 상업 게임 엔진답게 오브젝트를 움직일 수 있는 여러 가지 방법을 제공하는데 생각해 보니 유니티에서 제공하는 function 중에는 곡선 움직임이 없었습니다.
                </p>
                <p>알아보니 이런 곡선 움직임은 게임에서뿐만 아니라 시각적 효과를 만들어야 하는 많은 곳에서 사용하게 되고 이때 사용하는 것이 <b>베지어 곡선</b>이었습니다.</p>
                <br>
                <p>저는 몇 년 전부터 꾸준히 <b>PS</b> 문제들을 풀고 있었는데 사실 문제들을 풀며 배운 여러 가지 알고리즘들을 실제 어플리케이션에서 활용한 적은 없다는 것이 항상
                    고민이었습니다.</p>
                <p>베지어 곡선을 구현하면서 <a href="https://tose33.tistory.com/848"
                        target="_blank">(https://tose33.tistory.com/848)</a> 깊이 우선 탐색,
                    재귀, 분할 정복 개념을 실제로 사용해서 구현했고 실제 내가 공부한 알고리즘을
                    사용했다는 만족감을 얻었으며 Problem Solving 이 단순히 코딩테스트 대비용이 아닌 실제로 왜 필요한지에 대한 힌트가 되었습니다.</p>
                <br>
                <p>PS 문제들을 풀며 블로그에 기록했고, 점차 PS 이외에도 프로그래밍 관련 공부한 내용이라던다 기억해 두고 싶은 내용들을 블로그에 포스팅해 두었습니다.
                    <a href="https://tose33.tistory.com/" target="_blank">(https://tose33.tistory.com/)</a>
                </p>
                <p>제 블로그는 사실 어떤 정보에 대해 엄청 자세히 기록해 놓지는 않았습니다.</p>
                <p>저는 블로그를 <b>책의 목차</b> 처럼 내가 언제 뭘 했는지 정도로 기록 해놓고, 상세한 내용은 따로 찾아보는 것이 유용하다고 생각하기 때문입니다.</p>
                <p>예를들어 제가 만든 갤로그 게임 코드를 언젠가 다시 보게 됐을때, 저는 제 블로그에서 베지어 곡선에 대한 내용을 기록해 뒀으니 찾아 볼수 있고, 베지어 곡선의 상세한 작동원리들은
                    다른 곳에 아주 많이 있으므로 찾아 보면 된다고 생각합니다. </p>
                <br>

                <p>게임이 어떻게 만들어지는지 이해하고 스스로 어느 정도 만들 수 있다는 자신이 생겼을 때 다른 분야도 경험해 보고 싶었고 다음으로 제가 해보고 싶었던 분야인 <b>web</b> 개발
                    쪽 공부를
                    시작했습니다.</p>
                <p>유니티를 배울 때는 처음부터 바로 게임을 만들어 보면서 모르는 부분은 찾아보며 이론을 쌓아갔고, 그렇게 함으로써 실전 중심 방식의 장점도 보였지만 단점도 보였기에 이번에는 책을 한
                    번
                    읽어 보고 시작하자는 생각으로 책을 한 권 읽었습니다. <a href="https://tose33.tistory.com/776"
                        target="_blank">(https://tose33.tistory.com/776)</a></p>
                <br>

                <p>읽은 후 역시 프로그래밍이란 학문은 책만으로는 매우 부족하다고 느꼈고 강의도 들어 본 후에 직접 만들어 보기로 했습니다.</p>
                <p>이후 만든 것이 포트폴리오에 첨부된 <b>웹사이트</b>입니다. <a href="https://lsh-instaweb.herokuapp.com/"
                        target="_blank">(https://lsh-instaweb.herokuapp.com/)</a>
                </p>
                <p>백엔드는 스프링, 데이터 저장은 jpa 를 사용했고 db는 postgresql, 프론트는 html, css, javascript(DOM ajax) 를 써서 모두 제가 직접 만들었고
                    현재
                    heroku paas 로 올라가 있는 상태입니다.</p>
                <br>

                <p>"개발자는 적어도 네다섯 개의 프로그래밍 언어를 알아야 한다."</p>
                <p>c++ 창시자이신 비야네 스트롭스트룹은 인터뷰에서 이런 말을 한 적이 있습니다.</p>
                <p>사용해 본 언어로는 최초로 공부한 언어인 c++, 그 후 학교 프로젝트에서 필요했던 python, 유니티를 위한 c#, 학교 프로젝트에서도 필요했고 웹 개발에 필요한 java 등이
                    있습니다.</p>
                <p>백준의 제 사용 언어 내역을 보면 이외에도 kotlin, javascript 가 있고
                    백준에는 없지만 dart 로도 문제를 풀어봤습니다. <a href="https://www.acmicpc.net/user/language/chadol51"
                        target="_blank">(https://www.acmicpc.net/user/language/chadol51)</a>
                </p>
                <br>

                <p>하지만 비야네는 그 후 한마디 더 덧붙이셨는데 이 부분이 저는 정말 전달하고 싶으셨던 내용이라고 생각합니다.</p>
                <p>"처음에 배우는 프로그래밍 언어는 정말 어렵고 두 번째로 배우는 프로그래밍 언어도 어려울 수 있다. 하지만 세 번째 부터는 쉽다"</p>
                <p>처음에 프로그래밍을 배울때는 비야네 스트롭스트롭의 말이 이해가 안 됐지만 이제는 이해가 갑니다.
                    하신 말씀의 의미는 세 번째 언어에서부터는 언어들의 차이점과 공통점이 보이며, 이 언어가 왜 만들어졌는지가 보입니다.</p>
                <p> 이걸 이해한 이후로는 새로운 언어를 배우는 게 그렇게 어렵지 않다는
                    것입니다. 이건 언어 뿐만 아니라 새로운 기술, 프레임워크도 마찬가지입니다.</p>
                <p>여러 가지 언어들과 프레임워크 기술들의 상세 내용을 줄줄이 꿰는 것은 현대 프로그래밍에서는 한계가 있다고 생각합니다. 그들의 공통점과 차이점을 알고 그런 지식을 마치 책의 인덱스와
                    같이
                    머릿속 한켠에 보관해 놓았다가, 어떤 문제를 해결해야 할 때 책의 어느 부분을 펼쳐야 하는지를 아는 것이 중요하다고 생각합니다.</p>

            </div>
        </div>
    </main>


    <!-- FOOTER -->
    <footer>
        <h3>LSH</h3>
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, nesciunt!</p> -->
        <ul>
            <li>@ LSH Aboutme page</li>
            <li>|</li>
            <li><a href="https://github.com/LSH3333" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li>|</li>
            <li><a href="https://tose33.tistory.com/" target="_blank"><i class="fa-solid fa-t"></i></a></li>
            <li>|</li>
            <li><a href="https://www.acmicpc.net/user/language/chadol51" target="_blank"><i class="fa-solid fa-b"></i>
                </a></li>
            <li>|</li>
        </ul>
    </footer>
</body>

</html>