<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a id="logo" href="/templates/index.html" th:href="@{/}">LSH</a>
            <div id="navLinks">
                <ul>
                    <li><a href="/templates/index.html" th:href="@{/}">Home</a></li>
                    <li><a href="/templates/portfolio.html" th:href="@{/portfolio}">Portfolio</a></li>
                    <li><a href="/templates/aboutme.html" th:href="@{/aboutme}">About me</a></li>
                    <li><a href="https://tose33.tistory.com/" target="_blank">Blog</a></li>
                    <li><a href="https://github.com/LSH3333" target="_blank">Git</a></li>
                    <li><a href="https://www.acmicpc.net/user/chadol51" target="_blank">PS</a></li>
                </ul>
            </div>
        </nav>
        <div id="header-text-box">
            <h1>Welcome To My About Me Page</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <div id="mainBlock1">
            <div class="imgBlock">
                <img src="/static/images/headerImg.jpeg" th:src="@{/images/headerImg.jpeg}" alt="">
            </div>
            <div id="mainBlock1Content">
                <p>Welcome!</p>
                이 공간은 저 자신을 소개하기 위해 만든 웹사이트입니다.<br>
                둘러보시면서 저에 대해 알아보세요!<br>
                <div id="readmoreBtn"><a href="/templates/aboutme.html" th:href="@{/aboutme}">About me!</a></div>
            </div>
        </div>
        <div id="mainBlock2">
            <div id="mainBlock2Content">
                <p>What I did</p>
                제가 만든 웹사이트와 게임들, 한 번 구경해보실래요?<br>
                <div id="readmoreBtn"><a href="/templates/portfolio.html" th:href="@{/portfolio}">Portfolio</a></div>
            </div>
            <div class="imgBlock">
                <img src="/static/images/headerImg.jpeg" th:src="@{/images/headerImg.jpeg}" alt="">
            </div>
        </div>
        <div id="mainBlock1">
            <div class="imgBlock">
                <img src="/static/images/headerImg.jpeg" th:src="@{/images/headerImg.jpeg}" alt="">
            </div>
            <div id="mainBlock1Content">
                <p>Blog</p>
                공부하면서 기록해놓는 제 블로그입니다.<br>
                <div id="readmoreBtn"><a href="https://tose33.tistory.com/" target="_blank">My blog</a></div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <h3>LSH</h3>
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, nesciunt!</p> -->
        <ul>
            <li>@ LSH Aboutme page</li>
            <li>|</li>
            <li><a href="https://github.com/LSH3333" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li>|</li>
            <li><a href="https://tose33.tistory.com/" target="_blank"><i class="fa-solid fa-t"></i></a></li>
            <li>|</li>
            <li><a href="https://www.acmicpc.net/user/language/chadol51" target="_blank"><i class="fa-solid fa-b"></i>
                </a></li>
            <li>|</li>
        </ul>
    </footer>
</body>

</html>