<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/portfolio.css" th:href="@{/css/portfolio.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a id="logo" href="/templates/index.html" th:href="@{/}">LSH</a>
            <div id="navLinks">
                <ul>
                    <li><a href="/templates/index.html" th:href="@{/}">Home</a></li>
                    <li><a href="/templates/portfolio.html" th:href="@{/portfolio}">Portfolio</a></li>
                    <li><a href="/templates/aboutme.html" th:href="@{/aboutme}">About me</a></li>
                    <li><a href="https://tose33.tistory.com/" target="_blank">Blog</a></li>
                    <li><a href="https://github.com/LSH3333" target="_blank">Git</a></li>
                    <li><a href="https://www.acmicpc.net/user/chadol51" target="_blank">PS</a></li>
                </ul>
            </div>
        </nav>
        <div id="header-text-box">
            <h1>Portfolio</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <!-- MainBlock1 -->
        <div id="mainBlock1">
            <div class="imgBlock">
                <img src="/static/images/instaweb.png" th:src="@{/images/instaweb.png}" alt="">
            </div>
            <div id="mainBlock1Content">
                <p>
                    로그인 후 글, 댓글을 작성할수 있는 웹.<br><br>
                    백엔드는 스프링, 데이터 저장은 jpa 를 사용했고 db는 postgresql, 클라이언트 사이드는 javascript, 프론트 디자인은 html 과 css 로 구현했습니다.
                    <!-- 서버 사이드는 Spring을 사용해 구현했고 클라이언트 사이드는 javascript, 프론트 디자인은 html 과 css 로 구현했습니다. -->
                    <br><br>
                    <a href="https://lsh-instaweb.herokuapp.com/" target="_blank">visit web →</a><br>
                    <a href="https://github.com/LSH3333/Instaweb" target="_blank"><i class="fa-brands fa-github"></i>
                        visit git →</a>
                </p>
                <div class="techStack">
                    <img src="/static/images/spring.svg" th:src="@{/images/spring.svg}" alt="">
                    <img src="/static/images/hibernate.svg" th:src="@{/images/hibernate.svg}" alt="">
                    <img src="/static/images/html.svg" th:src="@{/images/html.svg}" alt="">
                    <img src="/static/images/css.svg" th:src="@{/images/css.svg}" alt="">
                    <img src="/static/images/thymeleaf.svg" th:src="@{/images/thymeleaf.svg}" alt="">
                    <img src="/static/images/js.svg" th:src="@{/images/js.svg}" alt="">
                    <img src="/static/images/heroku.svg" th:src="@{/images/heroku.svg}" alt="">
                    <img src="/static/images/postgres.svg" th:src="@{/images/postgres.svg}" alt="">
                </div>
            </div>
        </div>
        <!-- MainBlock2 -->
        <div id="mainBlock2">
            <!-- 베지어 곡선 따라 이동하는 오브젝트들 -->
            <span style="position: absolute;" id="obj"><img id="imgObj" src="../images/Enemy1_1.png"
                    th:src="@{/images/Enemy1_1.png}" alt=""></span>
            <span style="position: absolute;" id="obj2"><img id="imgObj2" src="/static/images/Enemy2_1.png"
                    th:src="@{/images/Enemy2_1.png}" alt=""></span>
            <span style="position: absolute;" id="obj3"><img id="imgObj3" src="/static/images/Enemy3_1.png"
                    th:src="@{/images/Enemy3_1.png}" alt=""></span>
            <span style="position: absolute;" id="obj4"><img id="imgObj4" src="/static/images/Enemy4_1.png"
                    th:src="@{/images/Enemy4_1.png}" alt=""></span>
            <!-- 조절점들 -->
            <span style="position: absolute;" id="p1"></span>
            <span style="position: absolute;" id="p2"></span>
            <span style="position: absolute;" id="p3"></span>
            <span style="position: absolute;" id="p4"></span>
            <div id="mainBlock2Content">
                <p>
                    Unity 로 구현한 갤러그.<br><br>
                    중점은 오브젝트의 곡선 이동 구현이었고 <a href="https://tose33.tistory.com/848" target="_blank">베지어 곡선</a>으로
                    구현했습니다.<br><br>
                    지금 앞에서 움직이고 있는 갤러그 오브젝트들도 C# 에서 구현한 베지어 곡선을 그대로 javascript로 구현해 사용했습니다.
                    <br><a href="https://tose33.tistory.com/1192" target="_blank">(C# -> js 과정)</a>
                    <br><br>
                    <a href="https://lsh3333.itch.io/galaga" target="_blank">play game →</a><br>
                    <a href="https://github.com/LSH3333/Galaga" target="_blank"><i class="fa-brands fa-github"></i>
                        visit git →</a>
                </p>
                <div class="techStack">
                    <img src="/static/images/csharp.svg" th:src="@{/images/csharp.svg}" alt="">
                    <img src="/static/images/unity.svg" th:src="@{/images/unity.svg}" alt="">
                </div>
            </div>
            <div class="imgBlock">
                <img src="/static/images/galaga1.png" th:src="@{/images/galaga1.png}" alt="">
            </div>
        </div>
        <!-- MainBlock2 -->
        <div id="mainBlock3">
            <div class="imgBlock">
                <img src="/static/images/score board.png" th:src="@{/images/score board.png}" alt="">
                <img src="/static/images/jumper.png" th:src="@{/images/jumper.png}" alt="">
                <img src="/static/images/angryBird.png" th:src="@{/images/angryBird.png}" alt="">
                <img src="/static/images/flappy.png" th:src="@{/images/flappy.png}" alt="">
                <img src="/static/images/night1.png" th:src="@{/images/night1.png}" alt="">
                <img src="/static/images/night2.png" th:src="@{/images/night2.png}" alt="">
            </div>
            <div id="mainBlock3Content">
                <p>
                    유니티로 구현한 여러가지 게임들을 통합.<br>
                    통합할때 중점이 된 부분은 각 개별 게임들이 공통으로 쓰이는 기능들을 추상적으로 구현해 모든 게임에서 쓰이도록 하는 것이었습니다.
                    <br><br>
                    <a href="https://lsh3333.itch.io/manygames" target="_blank">play game →</a><br>
                    <a href="https://github.com/LSH3333/Unity_ManyGames" target="_blank"><i
                            class="fa-brands fa-github"></i> visit
                        git →</a>
                </p>
                <div class="techStack">
                    <img src="/static/images/csharp.svg" th:src="@{/images/csharp.svg}" alt="">
                    <img src="/static/images/unity.svg" th:src="@{/images/unity.svg}" alt="">
                </div>
            </div>
        </div>
    </main>


    <!-- FOOTER -->
    <footer>
        <h3>LSH</h3>
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, nesciunt!</p> -->
        <ul>
            <li>@ LSH Aboutme page</li>
            <li>|</li>
            <li><a href="https://github.com/LSH3333" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li>|</li>
            <li><a href="https://tose33.tistory.com/" target="_blank"><i class="fa-solid fa-t"></i></a></li>
            <li>|</li>
            <li><a href="https://www.acmicpc.net/user/language/chadol51" target="_blank"><i class="fa-solid fa-b"></i>
                </a></li>
            <li>|</li>
        </ul>
    </footer>

    <script type="text/javascript" src="/static/js/bezier.js" th:src="@{/js/bezier.js}"></script>
</body>

</html>